.input-group {
    width: 60% !important;
}

.form-control{
    background-color: rgb(251, 251, 251, 0.4)!important;
    border: none;
}

.input-group-text {
    background-color: rgb(251, 251, 251, 0.4) !important;
    color: rgb(251, 251, 251, 0.4) !important;
}

@media only screen and (max-width: 591px) {

    .input-group {
            width: 18rem !important;
    }
    
    .form-control{
        font-size: 1rem !important;
    }
    
}