.character-home {
    background:linear-gradient(0deg, rgba(0, 0, 0.2, 0.3), rgba(0, 0, 0.2, 0.3)),
    url(../../assets/633153.jpg) no-repeat bottom center fixed;
    min-height: calc(100vh - 4em);
    background-size: cover;
}
